<form action="/assessments/" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
  <h2><%= "#{@assessment.class} Assessment".sub('Mds', '').sub('Ra', '') %></h2>
  <% @assessment.klasses.each do |klass| %>
     <% @default = klass.set_values_for_type("#{@assessment.class}") %>
      <h3><%= if defined? klass.title then "#{klass.title}" end %></h3><br>
        <strong><%=klass.name%></strong>
    <% if klass.field_type == DROPDOWN %>
      <br><select name="assessment[<%=klass.node%>]">
        <% klass.options.each do |option| %>
        <% if option.value == @default %>
          <option id="<%=klass.node+"_"+option.value%>"value="<%=option.value%>" selected="selected" ><%="#{option.value} - #{option.description}" %></option>
         <% else %>
        <option id="<%=klass.node+"_"+option.value%>"value="<%=option.value%>" ><%="#{option.value} - #{option.description}"%></option>
         <% end %>
    <% end %>
      </select> 
    <% else %>
      <div class="<%=input_type(klass.field_type)%>">
        <% klass.options.each do |option| %>
          <% if option.value == @default %>
            <label for="<%=klass.node+"_"+option.value%>"><%=option.description%>
            <input class="input-small search-query" type="<%=input_type(klass.field_type)%>" name="assessment[<%=klass.node%>]" value="<%=option.value%>" id="<%=klass.node+"_"+option.value%>" checked></label>
          <% else %>
            <label for="<%=klass.node+"_"+option.value%>"><%=option.description%>
            <input class="input-small search-query" type="<%=input_type(klass.field_type)%>" name="assessment[<%=klass.node%>]" value="<%=@default%>" id="<%=klass.node+"_"+option.value%>"></label>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <br><br><input value="Print to XML" class="btn default btn-submit2" type="submit"><br><br><br><br>
  <div align="center">
    <a class="btn default btn-submit2" href="/">Back to Create</a>
  </div>
</form>