<form action="/assessments/" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
  <% @assessment.klasses.each do |klass| %>
    <h3><%= if defined? klass.title then "#{klass.title}" end %></h3><br>
    <strong><%=klass.name%></strong>
    <div class="<%=input_type(klass.field_type)%>">
    <% klass.options.each do |option| %>
      <label for="<%=klass.node+"_"+option.value%>"><%=option.description%>
      <input class="input-small search-query" type="<%=input_type(klass.field_type)%>" name="assessment[<%=klass.node%>]" value="<%=option.value%>" id="<%=klass.node+"_"+option.value%>"></label>
    <% end %>
    </div>
  <% end %>
  <input type="submit">
</form>
