<form action="/assessments/" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
  <% @assessment.klasses.each do |klass| %>
    <strong><%=klass.name%></strong>
    <div class="<%=input_type(klass.field_type)%>">
    <% klass.options.each do |option| %>
      <label for="<%=klass.mds_field+"_"+option.value%>"><%=option.description%>
      <input type="<%=input_type(klass.field_type)%>" name="assessment[<%=klass.mds_field%>]" value="<%=option.value%>" id="<%=klass.mds_field+"_"+option.value%>"></label>
    <% end %>
    </div><br>
  <% end %>
  <input type="submit">
</form>
