<span>
	<li><strong>QP017-</strong>Decline in Late Loss ADLs</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp017", pos_or_neg: "pos"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp017", pos_or_neg: "pos"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp017", pos_or_neg: "pos"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp017", pos_or_neg: "neg"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP018-</strong>Decline in Functional Range of Motion</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP028b-</strong>Dressing Severe Decline</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP039b-</strong>Locomotion Severe Decline</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>