<span>
  <li><strong>QP290-</strong>Incidence of Decline in ADLs</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp290", pos_or_neg: "pos", resident: "Positive", ssn: "101111111"}), :id => "qp290_0_green"%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp290", pos_or_neg: "pos", resident: "Positive", ssn: "101111111"}), :id => "qp290_1_green"%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp290", pos_or_neg: "pos", resident: "Negative", ssn: "101111112"}), :id => "qp290_0_red"%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp290", pos_or_neg: "neg", resident: "Negative", ssn: "101111112"}), :id => "qp290_1_red"%></li>
  </ul>
</span>
	<li><strong>QP017-</strong>Decline in Late Loss ADLs</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp017", pos_or_neg: "pos", resident: "Positive", ssn: "111111111"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp017", pos_or_neg: "pos", resident: "Positive", ssn: "111111111"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp017", pos_or_neg: "pos", resident: "Negative", ssn: "111111112"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp017", pos_or_neg: "neg", resident: "Negative", ssn: "111111112"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP018-</strong>Decline in Functional Range of Motion</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp018", pos_or_neg: "pos", resident: "Positive", ssn: "111111113"}), :id => "qp018_0_green"%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp018", pos_or_neg: "pos", resident: "Positive", ssn: "111111113"}), :id => "qp018_1_green"%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp018", pos_or_neg: "pos", resident: "Negative", ssn: "111111114"}), :id => "qp018_0_red"%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp018", pos_or_neg: "neg", resident: "Negative", ssn: "111111114"}), :id => "qp018_1_red"%></li>
  </ul>
</span>
<span>
	<li><strong>QP028b-</strong>Dressing Severe Decline</li>
  <ul id="green">
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp028b", pos_or_neg: "pos", resident: "Positive", ssn: "111111115"})%></li>
    <li><%= link_to "Annual", new_assessment_path({type: "Annual", qp_name: "Qp028b", pos_or_neg: "pos", resident: "Positive", ssn: "111111115"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp028b", pos_or_neg: "pos", resident: "Negative", ssn: "111111116"})%></li>
    <li><%= link_to "Annual", new_assessment_path({type: "Annual", qp_name: "Qp028b", pos_or_neg: "neg", resident: "Negative", ssn: "111111116"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP039b-</strong>Locomotion Severe Decline</li>
  <ul id="green">
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp039b", pos_or_neg: "pos", resident: "Positive", ssn: "111111117"})%></li>
    <li><%= link_to "Annual", new_assessment_path({type: "Annual", qp_name: "Qp039b", pos_or_neg: "pos", resident: "Positive", ssn: "111111117"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp039b", pos_or_neg: "pos", resident: "Negative", ssn: "111111118"})%></li>
    <li><%= link_to "Annual", new_assessment_path({type: "Annual", qp_name: "Qp039b", pos_or_neg: "neg", resident: "Negative", ssn: "111111118"})%></li>
  </ul>
</span>