<span>
	<li><strong>QP043a-</strong>Increase in Physical Abuse</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP106a-</strong>Increase in Resistance to Care(admission-90)</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "90-day PPS", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP106b-</strong>Increase in Resistance to Care(previous-most recent)</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>