<span>
	<li><strong>QP043a-</strong>Increase in Physical Abuse</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp043a", pos_or_neg: "pos", resident: "Positive", ssn: "111111119"})%></li>
    <li><%= link_to "Change in Status", new_assessment_path({type: "SignificantChange", qp_name: "Qp043a", pos_or_neg: "pos", resident: "Positive", ssn: "111111119"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp043a", pos_or_neg: "pos", resident: "Negative", ssn: "111111120"})%></li>
    <li><%= link_to "Change in Status", new_assessment_path({type: "SignificantChange", qp_name: "Qp043a", pos_or_neg: "neg", resident: "Negative", ssn: "111111120"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP106a-</strong>Increase in Resistance to Care (admission-90)</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp106a", pos_or_neg: "pos", resident: "Positive", ssn: "111111121"})%></li>
    <li><%= link_to "PPS 90-Day", new_assessment_path({type: "Pps90Day", qp_name: "Qp106a", pos_or_neg: "pos", resident: "Positive", ssn: "111111121"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp106a", pos_or_neg: "pos", resident: "Negative", ssn: "121111122"})%></li>
    <li><%= link_to "PPS 90-Day", new_assessment_path({type: "Pps90Day", qp_name: "Qp106a", pos_or_neg: "neg", resident: "Negative", ssn: "121111122"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP106b-</strong>Increase in Resistance to Care (previous-most recent)</li>
  <ul id="green">
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp106b", pos_or_neg: "pos", resident: "Positive", ssn: "111111122"})%></li>
    <li><%= link_to "Annual", new_assessment_path({type: "Annual", qp_name: "Qp106b", pos_or_neg: "pos", resident: "Positive", ssn: "111111122"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Quarterly", new_assessment_path({type: "Quarterly", qp_name: "Qp106b", pos_or_neg: "pos", resident: "Negative", ssn: "111111123"})%></li>
    <li><%= link_to "Annual", new_assessment_path({type: "Annual", qp_name: "Qp106b", pos_or_neg: "neg", resident: "Negative", ssn: "111111123"})%></li>
  </ul>
</span>