<span>
	<li><strong>QP010-</strong>Prevalence of Indwelling Catheters</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP012-</strong>Prevalence of Urinary Tract Infections</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP047-</strong>Continence Decline Since Admission</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "90-Day PPS", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "90-Day PPS", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>