<span>
	<li><strong>QP010-</strong>Prevalence of Indwelling Catheters</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp010", pos_or_neg: "pos"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp010", pos_or_neg: "neg"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP012-</strong>Prevalence of Urinary Tract Infections</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp012", pos_or_neg: "pos"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp012", pos_or_neg: "neg"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP047-</strong>Continence Decline Since Admission</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp047", pos_or_neg: "pos"})%></li>
    <li><%= link_to "PPS 90-Day", new_assessment_path({type: "Pps90Day", qp_name: "Qp047", pos_or_neg: "pos"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp047", pos_or_neg: "pos"})%></li>
    <li><%= link_to "PPS 90-Day", new_assessment_path({type: "Pps90Day", qp_name: "Qp047", pos_or_neg: "neg"})%></li>
  </ul>
</span>