<h2>ORBA Assessments</h2>
<div align="center">
<%= link_to "Admission", new_assessment_path({type: "Admission"}), class: "btn btn-submit" %><br><br>
<%= link_to "Quarterly", '#', class: "btn btn-submit" %><br><br>
<%= link_to "Annual", '#', class: "btn btn-submit" %><br><br>
<%= link_to "Change in Status", '#', class: "btn btn-submit" %><br><br>
<%= link_to "Change to Prior Comprehensive", '#', class: "btn btn-submit" %><br><br>
<%= link_to "Correction to Prior Quarterly", '#', class: "btn btn-submit" %><br><br>
</div>

<h2>Entry and Discharge Records</h2>
<div align="center">
<%= link_to "Entry", '#', class: "btn btn-submit" %><br><br>
<%= link_to "Discharge - return not anticipated", '#', class: "btn btn-submit" %><br><br>
<%= link_to "Discharge - return anticipated", new_assessment_path({type: "DischargeRa"}), class: "btn btn-submit" %><br><br>
<%= link_to "Death in Facility", '#', class: "btn btn-submit" %><br><br>
</div>